.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 78%;

  position: fixed;
  /* border: 2px solid red; */
}
.child {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 50px !important;
    height: 50px !important;
  }
  /* animation: rotate 0.1s linear infinite; */
  /* border: 2px solid red; */
}
/* 
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
} */
