* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background-image: none;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 12%;
  /* border: 2px solid yellow; */
  height: 100%;
  background-image: url(../../assets/img/dashboard_img/sidebar.jpeg);
  display: flex;
  justify-content: center;
  align-items: end;
}
.dashboard {
  width: 88%;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
}
.sidebar-main {
  /* border: 2px solid red; */
  width: 72%;
  height: 98%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 5%;
}
.logo {
  display: flex;
  justify-content: center;
}
.create-btn {
  width: 100%;
  height: 6vh;
  /* border: 2px solid blue; */
}
.create-btn img {
  width: 20%;
  height: 50%;
}
.create-btn button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 600;
  gap: 5%;
  border: none;

  border-radius: 5px;
  background-color: #ffc701;
}

.community > div:nth-child(2) {
  color: #ffc701;
}
.community > div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10%;
  color: white;
}
.community {
  width: 100%;
  height: 25%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 30%;
}
.section1 {
  width: 100%;
  height: 40%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 12%;
}
.section2 {
  /* border: 2px solid pink; */
  width: 100%;
  height: 50%;
  display: flex;
  align-items: end;
}
.section2-main > div:first-child {
  /* border: 2px solid red; */
  width: 35%;
  height: 60%;
  border-radius: 50%;
  overflow: hidden;
}
.section2-main > div:first-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section2-main {
  width: 100%;
  height: 20%;
  /* border: 2px solid pink; */
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 10%;
  align-items: center;
}
.section2-main h5 {
  font-weight: 600;
}
.section2-main h6 {
  font-weight: 400;
  color: #c0c0c0;
}
.produce-section {
  width: 100%;
  height: 22%;
  border-bottom: 2px solid #e0e0e0;
  /* border: 2px solid green; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.produce-section-main2 {
  width: 90%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 3.33%;
}
.produce-section-main2 > div:first-child {
  border-bottom: 2px solid rgba(128, 128, 128, 0.438);
}
.produce-section-main2 > div {
  width: 100%;
  height: 30%;

  display: flex;
  align-items: center;
}
.produce-section-tabs {
  width: 70% !important;
}
.produce-section-tabs > div {
  display: flex;
  align-items: end;
  gap: 2%;
  font-size: 1.5vmax;
  width: 25%;
  height: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.438);
}
.produce-section-tabs > div img {
  width: 10%;
}
.produce-section-main p {
  color: #828282;
}
.produce-section-main {
  /* border: 2px solid red; */
  width: 95%;
  height: 90%;
}
.produce-section-main button {
  width: 15%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 600;
  gap: 5%;
  border: none;

  border-radius: 5px;
  background-color: #ffc701;
}
.produce-section-main > div {
  display: flex;
  align-items: center;
  gap: 1%;
  width: 100%;
  height: 30%;
  /* border: 2px solid pink; */
}
.produce-section-main > div:first-child img {
  height: 50%;
}
.choira-test-project-section {
  /* border: 2px solid blue; */
  height: 77%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choira-test-project-section-main {
  /* border: 2px solid green; */
  width: 90%;
  height: 98%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choira-test-project-section-main span {
  color: #828282;
}
.choira-test-project-section-main > div > div {
  line-height: 25px;
}

.choira-test-project-section-main > div {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  gap: 2%;

  width: 90%;
  height: 95%;
  overflow-y: auto;
}

.choira-test-details {
  width: 90%;
  height: 40%;
  /* border: 2px solid red; */
}
.choira-test-details > h4 {
  overflow-y: auto; /* This enables a vertical scrollbar if content overflows vertically */
  overflow-x: hidden;
  white-space: pre-wrap;

  width: 100%;
  height: 50px;
  /* border: 2px solid red; */
  margin-top: 1%;
  margin-bottom: 1%;
}

.choira-test-details > div > div:first-child {
  background-color: #fff4cc;
  color: #ffc701;
  border-radius: 5px;
  width: auto;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.8vmax;
  padding-left: 5px;
  padding-right: 5px;
}
.choira-test-details > div > div:nth-child(2) {
  background-color: #ffdad8;
  color: #ff473b;
  border-radius: 5px;
  width: auto;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.8vmax;
  padding-left: 5px;
  padding-right: 5px;
}
.choira-test-details > div {
  display: flex;
  gap: 5%;
  /* border: 2px solid red; */
  height: 30%;
  width: 100%;
}
.choira-test-demoFile {
  width: 80%;
  height: 30%;
  /* border: 2px solid red; */
}
.choira-test-demoFile-main {
  height: 75% !important;
  width: 90% !important;
  /* border: 2px solid blue; */
  gap: 3.33%;

  display: flex;
  align-items: center;
  justify-content: start;
}

.choira-test-demoFile-main > div {
  width: 15%;
  height: 100%;
  border: 2px solid #828282;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.choira-test-demoFile-main > div > img {
  height: 50%;
  width: 60%;
}
.project-section {
  /* border: 2px solid red; */
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-main {
  width: 95.5%;
  height: 85%;
  /* border: 2px solid pink; */
  display: flex;
  justify-content: center;

  gap: 8%;
  flex-direction: row;
}
.project-main > div {
  width: 20%;
  border-radius: 10px;
  background: #ebecf0;

  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1px);
}
.project-main > div > div:first-child {
  /* border: 2px solid blue; */
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-size: 1.5vmax;
}
.project-main > div > div img {
  height: 40%;
}
.project-main-content {
  /* border: 2px solid green; */
  height: 90%;
}
.hrline {
  width: 100%;
  border: 2px solid yellow;
  height: 0%;
}

.choira-test-btn > div:first-child {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}
.choira-test-btn > div:first-child > button {
  width: 10%;
  height: 70%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #ffc701;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choira-test-btn > div:first-child > button:hover {
  background-color: #ffb301;
}
.choira-test-btn > div:nth-child(2) {
  width: 20%;
  /* border: 2px solid red; */
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: space-between;
}
.choira-test-btn > div:nth-child(2) > div {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;

  /* border: 2px solid blue; */
}
.choira-test-btn > div:nth-child(2) > div button {
  height: 80%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc701;
  color: black;
  gap: 8%;
  font-size: 1vmax;
  border: none;
  outline: none;
  cursor: pointer;
}
.choira-test-btn > div:nth-child(2) > div button:hover {
  background-color: #ffb301;
}

.choira-test-project-section-main-2 {
  /* border: 2px solid green; */
  width: 90%;
  height: 98%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-div {
  width: 85%;
  height: 90%;
  /* border: 2px solid red; */
}
.progress_main_div {
  width: 100%;
  height: 20%;
  /* border: 2px solid yellow; */
}
.progress_main_div > div:first-child > div:nth-child(2) {
  /* border: 2px solid pink; */
  width: 24%;
  background-image: url(../../assets/img/look.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-right: 1%;
}
.progress_main_div > div:first-child {
  width: 100%;
  height: 40%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  font-size: 1.2vmax;
}
.progress_main_div > div:first-child > div {
  font-size: 1.2vmax;
  font-weight: 600;
  color: #565656;
}
.progress_main_div > div:nth-child(2) {
  width: 100%;
  height: 60%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
}
.progress_main_div > div:nth-child(2) > div:nth-child(1) {
  width: 18%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1vmax;
  font-weight: 600;
  color: #ffc701;
  background-color: #fff4cc;
  border-radius: 15px;
}
.progress_main_div_timer {
  width: 25%;
  height: 100%;
  border: 2px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin-top: -2px;
}
.progress_main_div_content {
  width: 100%;
  height: 80%;
  /* border: 2px solid green; */
}
.progress_main_div_content > div {
  width: 100%;
  height: 23%;
  /* border: 2px solid orange; */
}
.progress_main_div_content > div:nth-child(3) {
  height: 31%;
}
.progress_main_div_content > div > div > div > div:first-child {
  color: #ffc701;
}

.progress_main_div_content > div > div {
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
}
.progress_main_div_content > div > div > div:first-child {
  display: flex;
  width: 100%;
  height: 30%;
  /* border: 2px solid green; */
  gap: 1%;
  align-items: center;
  font-size: 1.5vmax;
}
.progress_main_div_content > div > div > div:nth-child(2) {
  width: 100%;
  height: 68%;
  border-left: 5px solid #ffc701;
  /* border: 2px solid blue; */
  padding-left: 3%;
  margin-left: 0.8%;
}
.progress_main_div_content button {
  width: 20%;
  height: 50%;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  background-color: #ffc701;
  margin-top: 0.5%;
}
.overlay {
  width: 0%;
  height: 0%;
  position: absolute;
  background-color: #09090981;
  top: 0%;
  transition: 1s ease;
}
.overlay-after {
  width: 100%;
  height: 100%;
  transition: 1s ease;
}
.choira_edit_profile {
  left: 50%;
  top: -100%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 80%;
  /* border: 2px solid red; */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: #262727;
  transition: 1s ease;
  color: white;
  justify-content: center;
  align-items: center;
}
.choira_edit_profile > div {
  width: 90%;
  height: 100%;
}
.choira_edit_profile > div > div {
  width: 100%;
  height: 16%;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
}
.choira_edit_profile > div > div > div {
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
}

.choira_edit_profile-after {
  top: 50%;

  transition: 1s ease;
}
.choira_edit_profile > div > div:nth-child(1) {
  width: 100%;
  height: 10%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choira_edit_profile > div > div:nth-child(1) > div {
  display: flex;
  align-items: center;
}
.choira_edit_profile > div > div:nth-child(1) > div:nth-child(2) {
  justify-content: end;
}
.choira_edit_profile > div > div:nth-child(2) {
  height: 25%;
  justify-content: center;
  align-items: center;
}
.choira_edit_profile > div > div:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.choira_edit_profile > div > div:nth-child(2) > div {
  height: 120px;
  width: 120px;
  /* border: 2px solid red; */
  border-radius: 50%;
  overflow: hidden;
}
.choira_edit_profile input,
select {
  background-color: transparent;
  border: 2px solid gray;
  width: 80%;
  height: 50%;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  padding-left: 5px;
}
.choira_edit_profile > div > div:nth-child(6) {
  align-items: center;
  justify-content: center;
}
.choira_edit_profile > div > div:nth-child(6) button {
  width: 30%;
  height: 40%;
  background-color: #ffc701;
  border-radius: 10px;
}
