body {
  overflow: hidden;
  box-sizing: border-box;
}
button {
  color: black;
}
.project-wrapper {
  width: 100vw;
  height: 100vh;
  /* border: 2px solid red; */
  background-image: url("../../assets/img/dashboard_img/sidebar.jpeg");
  background-size: cover;
}
.project-navbar {
  width: 100%;
  height: 10%;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2%;
}
.new-project-main {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.project-div1 {
  /* border: 2px solid red; */
  width: 35%;
  height: 100%;
  text-align: center;
  color: white;
}
.project-div1 > div {
  width: 100%;
}
.project-div1 > div:first-child {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-div1 > div:nth-child(2) {
  height: 20%;
}
.project-div1 > div:nth-child(3) {
  height: 40%;
  /* border: 2px solid red; */
}
.project-div1 > div:nth-child(3) img {
  object-fit: cover;
  width: 50%;
  height: 100%;
}
.project-div1 > div:nth-child(4) {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.project-div1 > div:nth-child(4) button {
  width: 20%;
  height: 25%;
  border-radius: 5px;
  background-color: #ffc701;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  font-size: 1vmax;
}
.project-div2 h2 {
  color: white;
}
.project-div2-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  color: white;
  color: white;
}
.project-div2-title-musican {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10%;

  color: white;
  color: white;
  /* border: 2px solid red; */
  height: 20%;
}
/* .project-div2-title p {
  margin-top: -2%;
} */

p {
  color: white;
}
.project-div2 {
  /* border: 2px solid red; */
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.choose-type-div {
  display: flex;
  flex-direction: column;
  /* border: 2px solid yellow; */
  /* padding: 0.5%; */
  width: 92%;
  padding-right: 2%;
  padding-left: 2%;
  height: 70%;
  overflow-y: scroll;
  margin-top: 2%;
}
.choose-type-div-card {
  width: 100%;
  height: 48%;
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  cursor: pointer;

  /* border: 2px solid green; */
  gap: 6%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc701;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
.choose-type-div-card > div {
  width: 20.5%;
  /* border: 2px solid blue; */
  height: 95%;
  border-radius: 10px;
  display: flex;
  padding: 0.8%;
  /* justify-content: flex-end; */
  align-items: center;
  flex-direction: column;
  background-color: rgba(30, 30, 30, 1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.choose-type-div-card > div > div {
  width: 100%;
  height: 100%;
  /* border: 2px solid pink; */
  /* margin-top: 5%; */
  border-radius: 20px;
  margin-bottom: -9%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.choose-type-div-card > div > h3 {
  /* border: 2px solid green; */
  width: 100%;
  text-align: center;
  height: 11%;
  margin-top: 15%;
  margin-bottom: 2%;
  color: white;
  text-transform: capitalize;
  font-weight: 800;
  font-size: 0.75vmax;
}
.project-div2-btn {
  /* border: 2px solid green; */
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10%;
}
.project-div2-btn button {
  width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ffc701;
  border: none;
  font-size: 1vmax;
  cursor: pointer;
}
.card-overlay {
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  /* margin-top: 5%; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  background-color: rgba(0, 0, 0, 0.596);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.card-wrapper.clicked .card-overlay {
  opacity: 1;
}
.card-overlay p {
  font-size: 0.8vmax;
  font-weight: 500;
  color: white;
  text-align: center;
}
.card-overlay:hover {
  opacity: 1;
}
.choose-type-div-card h3 {
  font-size: 0.9vmax;
  font-weight: 400;
}
.range-slider {
  /* border: 2px solid red; */
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
}

.double_range_slider_box {
  position: relative;
  width: 100%;
  height: 20%;
  background: #1e1e1e;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* border: 2px solid red; */
}

.double_range_slider {
  width: 90%;
  height: 10px;
  position: relative;
  background-color: rgba(255, 199, 1, 0.2);
  border-radius: 20px;
}
.range_track {
  height: 100%;
  position: absolute;
  border-radius: 20px;
  background-color: #ffc701;
}

.minvalue {
  position: absolute;
  padding: 6px 15px;
  background: #ffc701;

  background-repeat: no-repeat;
  background-size: cover;
  /* border: 2px solid red; */
  border-radius: 1rem;
  color: black;
  bottom: 0;
  transform: translate(-50%, -100%);
  left: 0;
  font-size: 1rem;
  transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: left, transform;
}
/* 
.minvalue {
  width: 10px;
  height: 80px;
  background: #ffc701;
  position: absolute;
  padding: 6px 15px;
  border-radius: 10px;
  color: black;
  bottom: 0;
  transform: translate(0, -100%);
  left: 0;
  font-size: 1rem;
  transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;

  will-change: left, transform;
  transform: translate(-100%, 0) rotate(-90deg);
}

.minvalue:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #ffc701;
  border-bottom: 13px solid transparent;
}
.minvalue p {
  transform: translate(-100%, 0) rotate(-270deg);

  padding-bottom: 60px;
  padding-right: 8px;
  color: white;
} */
/* 
.maxvalue {
  width: 120px;
  height: 80px;
  background: #ffc701;
  position: absolute;
  padding: 6px 15px;
  border-radius: 10px;
  color: black;
  top: 0;
  transform: translate(0, 100%);
  right: 0;
  font-size: 1rem;
  transition: right 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: right, transform;
}

.maxvalue:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 26px solid #ffc701;
  border-bottom: 13px solid transparent;
} */

.maxvalue {
  position: absolute;
  padding: 6px 15px;
  background: #ffc701;
  border-radius: 1rem;
  color: black;
  top: 0;
  transform: translate(50%, 100%);
  right: 0;
  font-size: 1rem;
  transition: right 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: right, transform;
}

.double_range_slider input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  top: 50%;
  transform: translateY(-50%);
}
.double_range_slider input::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 10%;
  /* border: 3px solid #cbffa3; */
  /* background-color: #95d564; */
  background-image: url("../../assets/img/chooseType-img/s1.svg");
  background-position: center;

  pointer-events: auto;
  -webkit-appearance: none;
  cursor: pointer;
  margin-bottom: 1px;
}
.double_range_slider input::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 3px solid #cbffa3;
  background-color: #95d564;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  margin-top: 30%;
}

/* share link css */

.sharelink-title {
  /* border: 2px solid green; */
  margin-bottom: -5%;
}
.attach-demo {
  width: 75%;
  height: 80%;

  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  gap: 3%;
}
.newattach-demo {
  height: 60% !important;
}
.attach-demo > div:first-child .attach-demo input {
  width: 100%;
}
.optional {
  color: gray;
  font-size: 0.9vmax;
  font-weight: 500;
}

.reference-link {
  width: 100%;
  height: 45%;
  /* border: 2px solid red; */
  /* background-color: #1e1e1e; */

  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.reference-link-div1 {
  width: 100%;
  display: flex;
  height: 40%;
  /* border: 2px solid yellow; */
}
.newreference-link-div1 {
  margin-bottom: -10% !important;
}
.reference-link > div:nth-child(2) {
  width: 100%;
  min-height: 60%;
}
.all-reference-links {
  display: flex;
  flex-direction: column;
  gap: 2%;
  /* border: 2px solid red; */
}
.add-attach-demo-link {
  width: 10%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffc701;
  cursor: pointer;
  box-shadow: 10px 0px 10px 12px rgba(0, 0, 0, 0.25);
  background-color: #1e1e1e;
}
.add-attach-demo-link-main {
  width: 100%;
  height: 45%;
  /* border: 2px solid yellow; */
  display: flex;
  gap: 3.33%;
  margin-bottom: 1%;
}
.add-attach-demo-link-main > div {
  /* border: 2px solid blue; */
  /* border: 2px solid #ffc701; */
  background: #1e1e1e;
  overflow: hidden;

  box-shadow: 0px 0px 10px 12px rgba(0, 0, 0, 0.25);
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: 5px;
  padding-right: 1%;
}
.add-attach-demo-link-main > div img {
  width: 10%;
  height: 40%;
  cursor: pointer;
}
.reference-link input {
  width: 90%;
  height: 50px;
  border-radius: 2px;
  outline: none;
  border: none;
  padding-left: 2%;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 10px 12px rgba(0, 0, 0, 0.25);

  color: white;
  font-weight: 600;
  font-size: 1vmax;
}
.attach-demo > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.attach-demo > div:nth-child(2) {
  /* border: 2px solid red; */
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.attach-demo > div:nth-child(4) {
  width: 100%;
  height: 12% !important;
  /* border: 2px solid yellow; */

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #c1c1c1;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  /* text-align: center; */
}
.attach-demo > div:nth-child(4) label {
  width: 100%;
  height: 100%;
}

.uploaded-file {
  /* border: 2px solid red; */
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.uploaded-file-section {
  width: 100%;
  height: 40%;
  /* border: 2px solid yellow; */
  display: flex;
  gap: 3.33%;
}
.uploaded-file-section img {
  width: 10%;
  height: 35%;
}
.uploaded-file-section > div {
  /* border: 2px solid blue; */
  background-color: #1e1e1e;
  box-shadow: 0px 0px 10px 12px rgba(0, 0, 0, 0.25);
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-radius: 5px;
  padding-left: 1%;
  padding-right: 1%;
}
.demo-upload {
  background-color: #1e1e1e;
  color: #ffc701;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: 100%;
  font-size: 1.3vmax;

  border: none;
  cursor: pointer;

  width: 100%;
  height: 100%;
}
.attach-demo > div:nth-child(5) {
  width: 100%;
  height: 10%;
}
.attach-demo > div:nth-child(6) {
  width: 100%;
  height: 20%;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.attach-demo > div:nth-child(6) textarea {
  width: 90%;
  height: 90%;
  background-color: #1e1e1e;
  border: none;
  outline: none;
  color: white;
  font-size: 1vmax;
}

/* project delivery section start here  */

.project-delivery-main {
  width: 80%;
  height: 60%;
  /* border: 2px solid yellow; */
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 8%;
  color: white;
}

.project-delivery-main > div {
  display: flex;
  width: 100%;
  align-items: center;
  /* border: 2px solid green; */
  height: 30%;
  justify-content: space-between;
}
.project-delivery-main > div > div:nth-child(3) {
  border: 2px solid white;
  border-radius: 8px;
  background: #1e1e1e;
  width: 30%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-delivery-main > div > div:nth-child(3):hover {
  background-color: #ffc701;
  border-color: #ffc701;
  color: black;
  cursor: pointer;
}
.date-div {
  background-color: pink;
}
.deliveryDateSelected {
  background-color: #ffc701 !important;
  border-color: #ffc701 !important;
  color: black;
}

.goodName-div {
  width: 80%;
  height: 60%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10%;
  padding-top: 5%;
}
.goodName-singer {
  width: 25%;
  height: 50%;
  /* border: 2px solid pink; */
}
.goodName-div > div:nth-child(2) {
  width: 60%;
  height: 12%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  overflow: hidden;
}
.goodName-div > div:nth-child(2) input {
  width: 100%;
  height: 100%;
  background-color: #1e1e1e;
  border: none;
  outline: none;
  color: white;
  font-size: 1vmax;
  padding-left: 5%;

  font-weight: 500;
}
.goodName-singer > img {
  object-fit: cover;
  width: 100%;
  object-position: center;
}
.almostDone-div {
  width: 60%;
  height: 70%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.almostDone-btn {
  /* border: 2px solid green; */
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}
.almostDone-btn button {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ffc701;
  border: 2px solid #ffc701;
  cursor: pointer;

  font-size: 1vmax;
}
.almostDone-btn1 {
  background-color: #1e1e1e !important;
  color: white !important;
}
.almostDone-btn1:hover {
  background-color: #ffc701 !important;
  color: black !important;
}

/* CustomCalendar.css */
/* .custom-calendar {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid red;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-header button {
  font-size: 1.2em;
  cursor: pointer;
  background: none;
  border: none;
}

.calendar-days {
  display: flex;
  justify-content: center;
  background-color: #eee;
  padding: 2px;
  font-weight: bold;
  padding-right: 30px;
}

.day {
  flex: 1;
  padding: 8px;
}

.calendar-dates {
  display: flex;
  transition: transform 0.3s ease; /* Add transition for smooth sliding effect 
}

.date {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  border: 1px solid #ccc;
} 

/* Add more styling as needed */

/* Add more styling as needed */
.bookSession-div {
  width: 80%;
  height: 80%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bookSession-div > div:first-child {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookSession-div > div:nth-child(2) {
  height: 10%;
}
.book-custom-dates {
  display: flex;

  width: 80%;
  height: 20%;
  gap: 5%;
  align-items: center;
  justify-content: center;
  /* border: 2px solid yellow; */
  font-size: 1vmax;
  color: white;
}
.bookSession-div h5 {
  color: white;
}
.book-custom-dates > div {
  width: 11%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  opacity: 0.5;
}
.todaysDate {
  border: 2px solid #ffc701;
  opacity: 1 !important;
}
.gotoNextDate,
.gotoPreviousDate {
  cursor: pointer;
}
.gotoNextDate button,
.gotoPreviousDate button {
  width: 100%;
  height: 100%;
  font-size: 2.3vmax !important;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}
.timeSlot {
  width: 80%;
  height: 45%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* padding-bottom: 5%; */
}
.main-slots {
  width: 100%;
  height: 32%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
}

.slots {
  /* border: 2px solid yellow; */
  width: 100%;
  display: flex;

  gap: 2%;
  height: 100%;
  gap: 2%;
}
.slots div {
  width: 23.5%;
  border: 2px solid rgba(255, 255, 255, 0.489);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
}
.slots div:hover {
  border-color: #ffc701;
  cursor: pointer;
}
.slot.selected {
  border-color: #ffc701;
}

.BookSession-title {
  /* border: 2px solid green; */
  width: 80%;
  height: 15%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.BookSession-title > div:first-child {
  height: 100%;
  /* border: 2px solid red; */
  width: 30%;
  padding-top: 4%;
}
.BookSession-title > div:nth-child(2) {
  width: 70%;
  /* border: 2px solid red; */
}
.BookSession-title button {
  width: 40%;
  height: 50%;
  background-color: #1e1e1e;
  border: 2px solid #ffc701;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  cursor: pointer;
}
.connectInFewSecond {
  width: 80%;
  height: 70%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.connect-img {
  width: 100%;
  height: 50%;
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  gap: 10%;
  justify-content: center;
}
.connect-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.right-img,
.left-img {
  width: 20%;
  height: 65%;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0.5;
  border: 2px solid white;
  /* filter: grayscale(10); */
}
.center-img {
  width: 25%;
  height: 80%;
  border-radius: 50%;
  border: 2px solid white;

  overflow: hidden;
}
.project-div2-btn img {
  width: 25%;
  height: 70%;
}
/* .project-div2-btn {
  display: flex;
} */

.connectInFewSecond-details {
  width: 100%;
  height: 20%;
  text-align: center;
}
.displayNone {
  display: none !important;
}
.visibilityHidden {
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  .project-navbar > img {
    width: 20%;
  }
  .project-navbar {
    /* border: 2px solid red; */
    height: 5%;
  }
  .project-div1 {
    /* border: 2px solid red; */
    width: 90%;
    height: 90%;
  }

  .project-div1 > div:nth-child(1) h3 {
    font-size: 3vmax;
  }
  .project-div1 > div:nth-child(2) p {
    font-size: 1.8vmax;
    line-height: 20px;
  }
  .project-div1 > div:nth-child(2) br {
    display: none;
  }
  .project-div1 > div:nth-child(3) img {
    width: 200px;
  }
  .project-div1 > div:nth-child(4) {
    width: 100%;
    /* border: 2px solid red; */
  }
  .project-div1 > div:nth-child(4) button {
    width: 28%;
    height: 30%;
  }
  /* // choose type  */

  .project-div2 {
    width: 98%;
    height: 95%;
    /* border: 2px solid red; */
  }

  /* .project-div2 > div:first-child > h2 {
    font-size: 2.5vmax;
  } */
  /* .project-div2 > div:first-child {
    height: 5%;
    font-size: 1.8vmax;
    
  } */
  .choose-type-div-card > div > h3 {
    font-size: 1.2vmax;
  }
  .choose-type-div {
    /* border: 2px solid red; */
    height: 80%;
    overflow-y: scroll;
  }
  .choose-type-div-card {
    /* border: 2px solid green; */
    width: 100%;
    padding-bottom: 40%;
    margin-bottom: 10%;
  }
  .choose-type-div-card > div {
    width: 45%;
    height: 250%;
  }

  .card-overlay:hover {
    opacity: 0;
  }
  .project-div2-btn {
    width: 100%;
    /* border: 2px solid red; */
  }
  .project-div2-btn button {
    width: 25%;
    height: 60%;
    font-size: 1.7vmax;
    font-weight: 600;
  }
  .project-div2-title-musican {
    width: 90%;
    /* border: 2px solid red; */
    height: 15%;
  }
  .project-div2-title-musican p {
    text-align: center;
    font-size: 1.5vmax;
  }
  .project-div2-title-musican h2 {
    font-size: 2vmax;
  }

  /* //choose budget */
  .range-slider {
    flex-direction: column;
    width: 85%;
  }

  .range-slider > div:first-child {
    background-image: url(../../assets/img/chooseType-img/budgetsinger.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 100%;
    /* border: 2px solid green; */
    width: 100%;
    height: 40%;
  }
  .mob_share_link_title {
    font-size: 2.9vmax;
  }
  .optional {
    font-size: 2vmax;
  }
  .attach-demo {
    width: 95%;
  }
  .reference-link input {
    width: 85%;
    font-size: 1.8vmax;
  }
  .attach-demo > div:nth-child(6) textarea {
    font-size: 1.8vmax;
  }
  .add-attach-demo-link {
    width: 15%;
  }
  .project-delivery-main {
    width: 95%;
    font-size: 1.8vmax;
    font-weight: 600;
  }
  .project-delivery-main > div > div:nth-child(3) {
    /* border: 2px solid red; */
    width: 35%;
    height: 50%;
    font-size: 1.4vmax;
  }

  .goodName-singer {
    width: 60%;
  }
  .goodName-div > div:nth-child(2) {
    /* border: 2px solid red; */
    width: 80%;
    /* height: 15%; */
  }
  .goodName-div > div:nth-child(2) input {
    font-size: 1.8vmax;
  }
  .almostDone-div {
    /* border: 2px solid red; */
    height: 50%;
    width: 95%;
    font-size: 1.6vmax;
  }
  .almostDone-div {
    align-items: flex-start;
  }
  .mob-awsome {
    /* border: 2px solid red; */
    width: 95%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .almostDone-btn {
    width: 85%;
  }
  .almostDone-btn button {
    font-size: 2vmax;
    font-weight: 600;
  }
  .connectInFewSecond {
    /* border: 2px solid red; */
    width: 100%;
  }
  .connect-img {
    /* border: 2px solid yellow; */
    gap: 5%;
  }
  .right-img,
  .left-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .center-img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  .username {
    font-size: 2vmax;
  }
  .connectInFewSecond-details > p {
    font-size: 2vmax;
  }
  .project-div2-btn img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  /* .project-div2-btn p {
    font-size: 2vmax;
    padding-left: 2%;
  } */

  .BookSession-title {
    /* border: 2px solid red; */
    width: 98%;
  }
  .BookSession-title > div:first-child button {
    width: 80%;
  }
  .bookSession-div {
    /* border: 2px solid red; */
    width: 98%;
  }
  .bookSession-month > h5 {
    font-size: 2vmax;
  }
  .bookSession-month {
    /* border: 2px solid red; */
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .book-custom-dates > div {
    /* border: 2px solid red; */
    width: 30%;
  }
  .book-custom-dates {
    /* border: 2px solid red; */
    width: 95%;
    font-size: 1.8vmax;
  }
  .slots div {
    /* border: 2px solid red; */
    height: 70%;
    font-size: 1.5vmax;
  }
}
