
button {
  border: none;
  border-radius: 10%;
  // text-transform: uppercase;
  font-weight: 600;
  padding: 7px;
  }
   
  
  .controls {
    text-align: left;
    padding: 1em;

    .play{
    margin-top: -47px;
    margin-left: 9px;
    }
  }

 
  .upImage{
    width: 36px;
    box-shadow: 0px 0px 5px 1px #827f7f;
    border-radius: 26px;
    background-color: black;
  }
  .upImage:hover {
    background: #f6b202;
  }
  .trackComposer{
    font-size: 0.8rem;
    font-weight: 400;
    /* color: #272727; */
    margin-top: 5px;
  }
  .buyOutbutton{
    float: right;
    padding-top: 20px;
  }

  .songTracks {
    display: grid;
    grid-template-columns: 80px 20% 1fr 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

@media screen and (max-width:500px){
  .wavehiden{
    display: none;
  }
}

@media screen and (max-width:800px){
  .wavehiden{
    margin-left: 50px;
  }
}

div.animationBox {
  width: 95%;
  animation-name: animateIn;
  animation-duration: 2s;
  text-align: center;
}