::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #eeeeee;
  border-radius: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
}
.studioMainScreen {
  width: 88vw;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 5%;
}
.studioHeader {
  width: 100%;
  height: 10%;
  /* border: 2px solid green; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  background-color: white;
}
.studioHeader > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vmax;
}
.studioHeader > div:nth-child(1) {
  width: 80%;
  height: 60%;
  border: 2px solid #dddddd;
  border-radius: 20px;
}
.studioHeader > div:nth-child(1) > input {
  height: 100%;
  width: 100%;
  padding-right: 5%;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8vmax;
  padding-left: 2%;
}
.studioHeader > div:nth-child(1) input::placeholder {
  text-align: center;
  font-size: 0.8vmax;
  color: black;
  font-weight: 540;
}
.studioHeader > div:nth-child(2) {
  width: 2%;
  height: 80%;
  /* border: 2px solid green; */
  margin-left: -5%;
}
.studioHeader > div:nth-child(3) {
  width: 3%;
  height: 80%;
  border: 6px solid transparent;
  flex-direction: column;
  position: relative;
}
.studioHeader > div:nth-child(4) {
  width: 5%;
  height: 80%;
  /* border: 2px solid blue; */
}
.notifyIcon {
  position: absolute;
  top: 0;
  right: 0;
  color: orange;
}
.onboardStudio > div {
  display: flex;
  align-items: center;
}
.onboardStudio {
  width: 80%;
  height: 40%;
  /* border: 2px solid red; */
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.onboardStudio > div:nth-child(1) {
  width: 40%;
  height: 15%;
  /* border: 2px solid green; */
  font-size: 1vmax;
  color: #ffc701;
  font-weight: 600;
}
.onboardStudio > div:nth-child(2) {
  width: 40%;
  height: 15%;
  /* border: 2px solid green; */
  font-size: 1vmax;
  align-items: start;

  font-weight: 600;
}
.onboardStudio > div:nth-child(3) {
  width: 60%;
  height: 60%;
  /* border: 2px solid green; */
  font-size: 1vmax;

  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3%;
  margin-top: 2%;
}
.onboardStudio > div:nth-child(3) > div {
  width: 20%;
  height: 80%;
  /* border: 2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.onboardStudio > div:nth-child(3) > div > div:first-child {
  width: 100%;
  height: 80%;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vmax;
}
.onboardStudio > div:nth-child(3) > div > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8vmax;
}

.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: #ffc701;
      cursor: pointer;
    }

    &.selected {
      background-color: #ffc701;
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: "";
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
.allStudioDetailsPage {
  width: 100%;
  height: 90%;
  /* border: 2px solid red; */
  margin-top: -2%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.allStudiobtndiv {
  width: 95%;
  height: 10%;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allStudiobtndiv > div:nth-child(2) {
  width: 28%;
  height: 100%;
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.allStudiobtndiv > div:nth-child(1) {
  font-size: 1.5vmax;
  font-weight: 600;
}
.studioImage {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
}
.studioImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 10px;
}
.studioTabelDiv {
  width: 95%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid yellow; */
  background-color: white;
  border-radius: 10px;
}
.studioTabelDiv small {
  color: rgba(173, 177, 181, 1);
}
.studioTabelDiv > div {
  width: 95%;
  height: 85%;
  /* border: 2px solid blue; */

  overflow-y: scroll;
}
.studioTabelDiv > div table {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
}
.studiotabelHead {
  width: 100%;
  height: 50px;
  background-color: rgba(243, 246, 249, 1);
  text-align: center;
}
.studiotabelHead > tr {
  width: 80%;
  /* border: 2px solid green; */
}
.studiotabelHead > tr > th:nth-child(1) {
  width: 20%;
}
.studiotabelHead > tr > th:nth-child(2) {
  width: 10%;
}
.studiotabelHead > tr > th:nth-child(3) {
  width: 15%;
}
.studiotabelHead > tr > th:nth-child(4) {
  width: 10%;
}

td {
  text-align: center;
}
.tableActionbtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
}
.tableActionbtn > div:nth-child(2) {
  width: 15%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3vmax;
  height: 40%;
}
.tabelpaginationDiv {
  width: 95%;
  /* border: 2px solid red; */
  height: 6%;
  display: flex;
  align-items: end;
  margin-top: 1%;
}
.studioFooter {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid green; */
  background-color: white;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 1%;
}

.addNewStudioTitle {
  width: 70%;
  height: 10%;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5vmax;
  font-weight: 600;
}
.addNewStudioPage {
  width: 70%;
  height: 95%;
  /* border: 2px solid red; */
  overflow-y: scroll;
}
.addNewStudioPage > div {
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
  border-radius: 10px;
  background-color: white;
}
.addNewStudioPage > div:first-child {
  display: flex;
  justify-content: space-around;
}
.addNewStudioPage > div > div {
  width: 45%;
  height: 100%;
  /* border: 2px solid pink; */
  padding-top: 2%;
  display: flex;
  gap: 2%;
  flex-direction: column;
}
.addNewStudioinputBox {
  width: 100%;
  height: 11%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.addNewStudioinputBox input,
.addNewStudioinputBox select {
  border-radius: 10px;

  width: 100%;
  outline: none;
  border: 2px solid #dddddd;
  padding-left: 5%;
  color: black;
}
.addNewStudioinputBox > label {
  font-size: 1vmax;
  font-weight: 600;
}
.addNewStudioinputBox select {
  padding: 1.8%;
  margin-top: 0%;
  height: 80%;
}
.amenitesCheckbox {
  border: 2px solid #dddddd;
  width: 100%;
  height: 30%;
  border-radius: 10px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 5%;
  overflow-y: scroll;
}
.amenitesCheckbox > div {
  /* border: 2px solid red; */
  padding-left: 1%;
  font-size: 1vmax;

  /* align-items: center;
  justify-content: center; */
}
.amenitesCheckbox input[type="checkbox"] {
  accent-color: #ffc701;
}
.addNewStudioimgBox {
  /* border: 2px solid red; */
  width: 100%;
  height: 30%;
}
.addNewStudioimgBox label {
  font-size: 1vmax;
  font-weight: 600;
}
.addNewStudioimgBox > div {
  margin-top: 2%;
  width: 100%;
  border: 2px dashed black;
  height: 85%;
  border-radius: 10px;
}
.addNewStudioimgBox > div > label {
  width: 100%;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.addNewStudioimgBox > div > input {
  display: none;
}
.addNewStudioimgBox > div > label span {
  color: #ffc701;
}
.addNewStudioimgBox > div > label img {
  width: 40px;
  height: 30px;
}
.showlocationDiv {
  width: 100%;
  height: 15%;
  /* border: 2px solid red; */
}
.addNewStudioPage > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addNewStudioPage > div:nth-child(2) > div {
  width: 95%;
  height: 90%;
  /* border: 2px solid green; */
}
.addNewStudioinputBox2 {
  width: 100%;
  height: 20%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.addNewStudioinputBox2 textarea {
  border-radius: 10px;
  height: 60%;
  width: 100%;
  outline: none;
  border: 2px solid #dddddd;
  padding-left: 1%;
  color: black;
  font-size: 0.8vmax;
  font-weight: 600;
  padding-top: 1%;
}
.addNewStudioinputBox2 > label {
  font-size: 1vmax;
  font-weight: 600;
}
.roomAndClassSection {
  width: 100%;
  height: 34%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.roomAndClassSection > div {
  width: 48%;
  /* border: 2px solid red; */
  height: 100%;
}
.addNewStudioinputBox3 {
  width: 100%;
  height: 90%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.addNewStudioinputBox3 input {
  border-radius: 10px;

  width: 100%;
  height: fit-content;
  outline: none;
  border: 2px solid #dddddd;
  padding-left: 5%;
  color: black;
}
.addNewStudioinputBox3 > label {
  font-size: 1vmax;
  font-weight: 600;
}
.addTeamDetailDiv {
  width: 100%;
  height: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 5%;
  position: relative;
}
.addTeamDetailDiv > label {
  font-size: 1vmax;
  font-weight: 600;
}
.addTeamDetailDiv > div {
  border-radius: 10px;

  width: 100%;
  height: 90%;
  /* height: fit-content; */
  outline: none;
  border: 2px solid #dddddd;

  color: black;
  /* overflow: scroll; */
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 5%;
}
.addTeamDetailMainDiv {
  width: 95%;
  height: 70%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.addTeamDetailMainDiv > div:nth-child(1) {
  width: 20%;
  height: 80%;
  border: 2px dashed black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vmax;
  color: #ffc701;
}
.addTeamDetailMainDiv > div:nth-child(2) {
  /* border: 2px solid blue; */
  margin-left: 10%;
}
.addTeamDetailMainDiv > div:nth-child(2) input:nth-child(1) {
  font-size: 1vmax;
  font-weight: 600;
}
.addTeamDetailMainDiv > div:nth-child(2) input {
  width: 100%;
  border: none;
  outline: none;
}
.addTeamDetailbtn {
  position: absolute;
  bottom: 5%;
  right: 2%;
  font-size: 2vmax;
  color: #ffc701;
}

.addNewRoomPage {
  width: 70%;
  height: 95%;
  /* border: 2px solid red; */
  overflow-y: scroll;
}
.addNewRoomPage > div {
  width: 100%;
  height: 140%;
  /* border: 2px solid blue; */
  border-radius: 10px;
  background-color: white;
  padding-bottom: 5%;
}
.addNewRoomPage > div:first-child {
  display: flex;
  justify-content: space-around;
}
.addNewRoomPage > div > div {
  width: 45%;
  height: 100%;
  /* border: 2px solid pink; */
  padding-top: 2%;
  display: flex;
  gap: 2%;
  flex-direction: column;
}

.addNewRoomPage > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addNewRoomPage > div:nth-child(2) > div {
  width: 95%;
  height: 90%;
  /* border: 2px solid green; */
}
.defaultLabel {
  font-size: 1vmax;
  font-weight: 600;
}
