

  .cart-border{

    border: 2px solid white;
    border-radius: 12px;
    background-color:#2d2300;
  }

  .panel-style{
    padding-bottom: 26px;
    border-bottom: 2px solid;
    background-color:#2d2300;
    // color: #ffc701;
  }

 

 
  
  

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid white;
    margin: 21px;
   
  }

  input{
    border-radius: 10px;
  }
  
   td{
    text-align: left;
    padding: 8px;
    color:white;
    border-bottom: white;
    border: 1px solid #cecccc;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  }

  th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: white;
    border: 1px solid #cecccc;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  }

  // .tables{
  //   overflow-x:auto;
  // }

  // h3{
  //   margin-right: 909px;
  // }