.panel-style{
    padding-bottom: 24px;
    // height: 400px;
    border-radius: 23px;
    border-bottom: 2px solid;
    background-color:#2d2300;
    color: white;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
  }
  .grid-item {
    
    padding: 20px;
    font-size: 17px;
    text-align: left;
  }

  

  .headstyle{
    padding: 10px;
    background-color: #2d2300;
    margin: 2px;
    color: #ffc701;
    border-radius: 10px;
  }


  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .cart-border{

    border: 2px solid white;
    border-radius: 12px;
    background-color:#2d2300;
  }

  .panel-style{
    padding: 12px;
    border-bottom: 2px solid;
    background-color:#2d2300;
    // color: #ffc701;
  }



  // .grid-contain {
  //   display: grid;
  //   // grid-template-columns: auto auto auto;
  //   padding: 10px;
  // }
  // .grid-i {
  //   // padding: 15px;
  //   font-size: 19px;
  //   padding: 14px 893px 16px 0px;
    
  // }
  
  

  // table {
  //   border-collapse: collapse;
  //   border-spacing: 0;
  //   width: 100%;
  //   border: 1px solid white;
  //   margin: 21px;
   
  // }

  // input{
  //   border-radius: 10px;
  // }
  
  // th, td{
  //   text-align: left;
  //   padding: 8px;
  //   color:white;
  //   border-bottom: white;
  // }

  // .tables{
  //   overflow-x:auto;
  // }
  .headrclear{
    margin-right: 897px;
  }
 
  @media screen and (max-width: 1000px) {
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;      
      padding: 10px;
    }
    .grid-item {
      padding: 10px;
      font-size: 12px;
      text-align: left;
  }

  }
  